<!doctype html>
<html>
	<head>
		<title>{{domain.display_name}}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

 		<script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
 		<script type="text/javascript" src="/static/js/bootstrap.js"></script>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet"	type="text/css">
		<link href="/static/css/rearvue.css" rel="stylesheet" type="text/css">

		<link rel="shortcut icon" href="/static/images/icon.png">
        <link rel="apple-touch-icon" href="/static/images/icon.png">

        <link rel="alternate" type="application/rss+xml" title="{{domain.display_name}}" href="/media/{{domain.name}}/rss.xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


        {% block head %}



        {% endblock %}
	</head>
	<body>
        <div class="container-fluid">

            <header class="row">
                <div class="col-xs-12">
                    <h1 class="link"><a href="/">{{domain.display_name}}</a></h1>
                    <p>{{ domain.blurb }}</p>
                </div>
            </header>

            <div class="row">


                <div class="col-sm-8 content">

                    {% if messages %}
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    {% block content %}

                    {% endblock %}

                    <br style="clear:both">
                </div>
                <div class="col-sm-4">

                    {% if user.is_superuser %}
                    <h2>Admin</h2>
                    <ul class="sidebar link">
                        <li><a href="/rvadmin/">RearVue Admin</a></li>
                        <li><a href="/admin/">Django Admin</a></li>
                    </ul>
                    {% endif %}

                    <h2>About</h2>
                    <p>
                        This is an <a href="https://github.com/xurble/rearvue">automatic archive</a> of posts made by {{ domain.owner.get_full_name }}
                        on various services around the internet.

                        {% if domain.poster_image %}
                            <a href="{% url "show_item" year=domain.poster_image.date_created.year month=domain.poster_image.date_created.month day=domain.poster_image.date_created.day slug=domain.poster_image.get_slug %}"><img src="/{{domain.poster_image.thumbnail}}" alt="Thumbnail" title="{{ domain.poster_image.title }}" style="margin:6px 0 0 0;max-width:100%"></a>
                        {% endif %}

                    </p>.

                    <h2>Sources</h2>
                        <!-- todo: auto-generate this -->
                        <ul class="sidebar link">
                            <li><a href="https://mastodon.social/@xurble" rel="me" class="icon brands fa-mastodon"><span class="label">Mastodon</span> @xurble@mastodon.social</a></li>
                            <li><a href="https://twitter.com/xurble" class="icon brands  fa-twitter"><span class="label">Twitter</span> @xurble</a></li>
                            <li><a href="https://www.instagram.com/xurble/" class="icon brands  fa-instagram"><span class="label">Instagram</span> @xurble</a></li>
                            <li><a href="https://www.flickr.com/photos/xurble/" class="icon brands  fa-flickr"><span class="label">Flickr</span> xurble</a></li>
                            <li><a href="https://github.com/xurble/" class="icon brands fa-github"><span class="label">Github</span> xurble</a></li>
                            <li><a href="https://blog.xurble.org/" class="icon brands fa-blogger"><span class="label">Blogger</span> blog.xurble.org</a></li>
                            <li><a href="https://www.tiktok.com/@xurble" class="icon brands fa-tiktok"><span class="label">Tik Tok</span> @xurble</a></li>
                        </ul>

                    <h2>Links</h2>
                        <!-- todo: auto-generate this -->
                        <ul class="sidebar link">
                            <li><a href="https://feedthing.net" rel="me">FeedThing</a></li>
                            <li><a href="https://recastthis.com" rel="me">Recast</a></li>
                            <li><a href="https://github.com/xurble/rearvue" rel="me">RearVue</a></li>
                            <li><a href="https://poplar.farm" rel="me">Poplar Farm</a></li>
                        </ul>


                    <h2>Archive</h2>

                    <ul class="sidebar link archive">
                        {% for y in year_range %}
                            <li><a href="{% url "show_year" year=y%}">{{y}}</a></li>
                        {% endfor %}
                    </ul>

                    <h2>Feed</h2>
                    <ul class="sidebar link archive">
                        <li><a href="/media/{{domain.name}}/rss.xml">RSS</a></li>
                    </ul>
                </div>

            </div>


        </div>

        <footer>
            Copyright &copy; {{ domain.owner.get_full_name }} {{ domain.min_year }} - {{ domain.max_year }}.  Last updated {{ domain.last_updated }}
        </footer>



        <script>

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken",
                                     $("input[name='csrfmiddlewaretoken']")[0].value);
            }
        }
    });



        </script>
	</body>
</html>
