            <div class="post">
                <h3 class="link"><a href="{% url "show_item" year=item.date_created.year month=item.date_created.month day=item.date_created.day iid=item.id %}">{{item.title}}</a></h3>
                <div class="body link">
                    <p>{{item.caption|safe}}</p>
                </div>
                {% if item.media_type == 1 %}
                    <img src="/{{item.primary_media}}" alt="{{item.title}}" style="max-width:100%">
                {% else %}
                    <video src="/{{item.original_media}}" alt="{{item.title}}" style="max-width:100%" controls poster="/{{item.thumbnail}}" ></video>
                {% endif %}    


                        
                <ul class="post-item-details">
                    <li class="link">Taken <a href="{% url "show_day" year=item.date_created.year month=item.date_created.month day=item.date_created.day %}">{{item.date_created.day}}</a> <a href="{% url "show_month" year=item.date_created.year month=item.date_created.month %}">{{item.created_month_name}}</a> <a href="{% url "show_year" year=item.date_created.year %}">{{item.date_created.year}}</a></li>     
                    <li class="link"><a href="{{item.remote_url}}">View the original on {{item.service.type}}</a></li> 
                </ul>      
    
            </div>
