{% extends "base.html" %}
{% load rv_filters %}

{% block content %}

    {% if user.is_superuser %}
        <div class="rvadmin link">
            <h4>Admin</h4>
            <a href="{% url 'fix_item' iid=item.id %}" class="btn btn-primary">Fix</a>
            <br><br>
            <form method="POST" action="{% url 'contextualize_item' iid=item.id %}">
                {% csrf_token %}
                <input type="text" name="link" placeholder="Add Context URL" class="form-control">
            </form>
            <br>
        </div>
    {% endif %}
    
    {% include "rvsite/item_detail.html" with item=item %}

    {% if item.context_links.count > 0 %}
        <hr>
        <h3>Context</h3>    
    {% endif %}
    {% for l in item.context_links %}
        <div class="link-preview">
            <a href="{{l.url}}">
                {% if l.image != "" %}
                    <img src="{{l.image}}" alt="Site Logo">
                {% endif %}
                <h4>{{l.title}}</h4>
                <p>{{l.description}}</p>
            </a>
        </div>
    {% endfor %}
    

    <hr>


    {% if other_items %}
        <h3>On This Day</h3>
        <div class="row">
        {% for i in other_items %}
            {% if i.rvmedia_set.count > 0 %}
            <div class="col-xs-2">
                <a href="{% url "show_item" year=i.date_created.year month=i.date_created.month day=i.date_created.day  iid=i.id %}"><img src="/{{i.thumbnail}}" alt="Thumbnail" title="{{ i.title }}" style="float:left;margin-right:6px;margin-bottom:6px;max-width:100%"></a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    



{% endblock %}