{% extends "base.html" %}
{% load rv_filters %}

{% block content %}

        <h2 class="head link">{{month_name}} <a href="{% url "show_year" year=year %}">{{year}}</a></h2>
        {% for i in items %}
            {% include "rvsite/item_detail.html" with item=i %}
            <hr>
        {% endfor %}

        <div class="row">
          <div class="col-xs-6"><a href="{% url "show_month" year=prev.year month=prev.month %}">☜ Earlier</a></div>
          <div class="col-xs-6" style="text-align:right"><a href="{% url "show_month" year=next.year month=next.month %}">Later ☞</a></div>
        </div>




{% endblock %}
