{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            {% if domain.poster_image %}
                <img class="poster_image" src="{{domain.poster_image.primary_media}}">
            {% endif %}
            
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3 fp_links link">
            {{domain.blurb|safe}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
           <h3>Recent</h3>
        </div>
    </div>
    <div class="row">
        {% for i in recent %}
        <div class="col-xs-4 col-sm-2 link">
            <a href="{% url "show_day" year=i.date_created.year month=i.date_created.month day=i.date_created.day%}"><img src="/{{i.thumbnail}}" alt="Thumbnail" title="{{ i.title }}" style="float:left;margin-right:6px;margin-bottom:6px;max-width:100%"></a>
        </div>
        {% endfor %}
    </div>
     
    <div class="row">
        <div class="col-xs-12">
           <h3>Last Year</h3>
        </div>
    </div>
    <div class="row">
        {% for i in last_year %}
        <div class="col-xs-4 col-sm-2 link">
            <a href="{% url "show_day" year=i.date_created.year month=i.date_created.month day=i.date_created.day%}"><img src="/{{i.thumbnail}}" alt="Thumbnail" title="{{ i.title }}" style="float:left;margin-right:6px;margin-bottom:6px;max-width:100%"></a>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-xs-12">
           <h3>Five Years Ago</h3>
        </div>
    </div>
    <div class="row">
        {% for i in five_years %}
        <div class="col-xs-4 col-sm-2 link">
            <a href="{% url "show_day" year=i.date_created.year month=i.date_created.month day=i.date_created.day%}"><img src="/{{i.thumbnail}}" alt="Thumbnail" title="{{ i.title }}" style="float:left;margin-right:6px;margin-bottom:6px;max-width:100%"></a>
        </div>
        {% endfor %}
    </div>



{% endblock %}