Django
certifi
mysqlclient
Pillow
python-dateutil
flickrapi
django-feed-reader
requests
git+https://github.com/xurble/webpreview
html5lib

safety
bandit
django-debug-toolbar
PdbBBEditSupport
colorlog

wheel
proctitle
gunicorn
