Django~=5.0.3
mysqlclient
Pillow
python-dateutil
flickrapi
django-feed-reader
requests
git+https://github.com/xurble/webpreview
facebook-business
html5lib

safety
bandit
django-debug-toolbar
PdbBBEditSupport
colorlog

wheel
proctitle
gunicorn
