@import url(fontawesome.css);


@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-bold.eot');
    src: url('../fonts/junction-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-bold.woff') format('woff'),
         url('../fonts/junction-bold.ttf') format('truetype'),
         url('../fonts/junction-bold.svg#junctionbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-light.eot');
    src: url('../fonts/junction-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-light.woff') format('woff'),
         url('../fonts/junction-light.ttf') format('truetype'),
         url('../fonts/junction-light.svg#junctionlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-regular.eot');
    src: url('../fonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-regular.woff') format('woff'),
         url('../fonts/junction-regular.ttf') format('truetype'),
         url('../fonts/junction-regular.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

img, video {
    border-radius:10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

img.thumb {
    float:left;
    margin-right:6px;
    margin-bottom:6px;
    max-width:100%;
    border-radius:5px;
}

.body {
    clear:both;
    font-size:16px;
}


ul.icons {
    cursor: default;
    list-style: none;
    padding-left:0;
}

ul.icons li {
    display: inline-block;
    padding:0 10px 0 0;
    font-size:20px;
}

ul.icons li:last-child {
    padding-right:0
}

header {
    background: url(../images/header.jpg);
    margin-bottom:15px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}


.icon {
    text-align:center
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'font awesome 5 free';
    font-weight:400
}


.icon > .label {
    display:none
}

.icon:before {
    line-height:inherit
}

.icon.solid:before {
    font-weight:900
}

.icon.brands:before {
    font-family: 'font awesome 5 brands'
}

.icon.style2:before {
    border-radius: 2.75em;
    display: inline-block;
    height: 2.75em;
    line-height: 2.75em;
    width:2.75em
}

body {
    font-family: Helvetica;
}




.nolink img {
    margin-bottom: 5px;
}

.rvadmin {
    border: 1px solid #ccc !important;
    padding: 5px;
    border-radius: 3px;
}

.rvadmin a {
    color: #999;
}


a:not(.btn), a:not(.btn):visited, a:not(.btn):hover {
    color:#3D85C6;
}

a:not(.btn):hover {
    text-decoration: underline;
}



div.container-fluid {
    max-width: 750px !important;
}

.error {
    color:red;
    font-weight: bold;
    padding:15px;
}


html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin-bottom:-50px;
    padding-bottom: 60px;
}

footer {
    display: block;
    text-align: center;
    height: 50px;
    font-size:11px;
}

footer ul, footer ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 5px 0px 0px;
    padding:0;
}

h1, h2, h3, h4 {
    font-family: Junction;
    font-weight: 300;
    padding-top: 0;
}

div.text-thumbnail {
    border: 1px solid #ccc;
    padding: 5px;
    font-size:32px;
    max-height: 50px;
    max-width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

div.text-thumbnail h3 {
    font-size:5px;
    margin:0;
    padding:0;
    display:inline-block;
}

h2 {
    font-size:24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-top: 2px;
}

h2.head {
    margin:20px 0px 10px 5px;
    font-size:22px;
}

h3 {
    font-size:15px;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 10px 0px 2px 0px;
    margin:0;
}

h3.right {
    float:right;
}

span.invisible {
    display:none;
}

span.ellipsis::after {
    content: "…";
}

ul.sidebar {
    list-style: none;
    margin: 10px 0 40px 0;
    text-align: left;
    padding:0;

}

ul.sidebar li a.icon {
    margin: 5px;
    display: inline-block;
}

ul.archive li {
    margin: 5px;
    text-align: center;
    display: inline-block;
}


.item h3 {
    padding: 3px 0px 0px 0px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom: none !important;
}

header h1 {
    margin-bottom: 0;
    font-size:32px;
}

header h1.link a {
    margin:0;
    padding:0;
}

header p {
    font-style: italic;
    margin-left:20px;
    color: #444;
    font-weight: bold;
    font-size: 15px;
}


img.poster_image {
    max-width: 100%;

}

div.post img {
    max-width:100%;
    display: block;
    margin: 10px auto 10px auto;
}

div.post img.carousel {
    margin:0;
}

a.carousel-control {
    border-radius:10px;
}

div.fp_links ul {
    margin-bottom: 20px;
    margin-top:0px;
}


@media (min-width: 768px) {
    table.month {
        margin-top: -50px;
        margin-bottom: 30px;
    }
}

.post h2 {
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
}

div.content hr {
    clear: both;
    margin: 15px;
    border-top: 1px dashed #999;
}

.link-preview {
    border: 1px dotted #ccc;
    background: #ecf3f9;
    border-radius:10px;
    display:block;
    margin: 15px auto 10px auto;
    max-width:100%;
}

.link-preview > a {
    color: #444;
    text-decoration: none;
}

.link-preview > a > img {
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    margin: 0 0 5px 0;
    width:100%;
    max-height: 200px;
    object-fit: cover;
    //object-position: 25% 25%;
}

.link-preview h4 {
    margin: 8px 5px 0px 5px;
    padding: 0;
    font-size:16px;
}

.link-preview p {
    margin: 0px 5px 5px 5px ;
    padding: 0;
    font-style: italic;
}


table.month td {
    min-width: 30px;
    height: 30px;
    text-align: center;
    border:1px dotted #ddd;

}


table.month a {
    display:block;
    background-color: #DDD;
    height: 100%;
    line-height: 30px;
}


table.month a:hover {
    color:#ddd;
    background-color: #333;
}

.post-item-details {
    list-style-type: none;
    padding: 10px 5px 10px 0px;
    text-align:right;
    font-style: italic;
    font-size:11px;
}
ul.post-item-details li {
    display: inline-block;
    margin-left:10px;
}

ul.item-details {
    float:right;
}
